<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</link>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    @font-face {
          font-family: 'Billabong';
          font-style: normal;
          font-weight: normal;
          src: local('Billabong'), url('Billabong.woff') format('woff');
      }
</style>
<head>
    <meta charset="utf-8"> </meta>
    </head>

<body>
<div class="row align-items-start">
    <div class="col">
      <a href="javascript:history.back()" role='button' >&lt;</a>
    </div>
    <div class="col">
      <h4>새 게시물</h4>
    </div>
    <div class="col">
      <input type="button" name="btn1" value="공유"></input>
    </div>
  </div>
    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>
</div>
    <br/>
    
    <input type="file" name=""/>
    
    <br />
    <div class="row align-items-end">
    <div  float:left;>
      <h5>   위치 추가</h5>
    </div>
    <div float:left;>
     <select class="form-control" style="width:200px;height:40px;>
  <option value="서울특별시">서울특별시</option>
  <option value="서울특별시">서울특별시</option>
  <option value="경기도">경기도</option>
  <option value="충청도">충청도</option>
  <option value="경상도">경상도</option>
  <option value="대구광역시">대구광역시</option>
  <option value="부산광역시">부산광역시</option>
  <option value="제주특별시">제주특별시</option>
    </select>
    </div>
  </div>
    
</body>
</html>